
table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
  }
  
 td, th {
    font-family: 'Titllium', Arial, Helvetica, sans-serif;
    border: solid 1px #000;
    border-style: solid none;
    padding: 10px;
}
  
tr:nth-child(even){background-color: #e6e6e6;}
  
tr:hover {background-color: #ddd;}
  
 th {
    background-color: #e22420;
    text-align: center;
    font-family: 'Titllium', Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-collapse: collapse;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: outset;
    border: solid 1px black;
}

h1 {
    background-color: #e22420;
    text-align: center;
    font-family: 'Titllium', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@font-face {
    font-family: 'Titllium';
    src: url(../../Formula1-Regular.otf);
}