body {
    
    background-color: #000;
    color: white;
    padding: 40px;
    font-family: Arial;
  }

  th {
    background-color: #e22420;
    text-align: center;
  }

  td, tr, th {
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
  }